# api_keys
app/twitter_api_keys.json

# macOS system files
*.DS_Store

# Python
*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/
.pytest_cache

# Text editors and IDEs
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/


# images
*.png
*.jpg
