<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Twitter Sentiment Analyzer</title>
</head>

<body>
  <!-- nav header -->
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top shadow">
    <div id="navbar-wrapper" class="container-fluid mx-auto ">
    
      <a id="brand" class="navbar-brand" href="{{url_for('home')}}">Twitter Sentiment Analyzer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a id="home-nav" class="nav-link" href="{{url_for('home')}}">Home</a>
          </li>
          
          <!--
          <li class="nav-item">
            <a id="usage-nav" class="nav-link" href="{{url_for('usage')}}">Usage</a>
          </li>
          -->
          
          <li class="nav-item">
            <a id="about-nav" class="nav-link" href="{{url_for('about')}}">About</a>
          </li>
        </ul>
      </div>
      
    </div><!--end contianer-->
  </nav>

  <!-- template content block -->
  {% block content %}{% endblock %}

  <!-- Bootstrap JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>
